node_modules/
dist/
lib/
coverage/
.firebase/
*.log
firebase-debug*.log
firestore-debug.log
storage-debug.log
ui-debug.log
pubsub-debug.log
.env
.env.local
.env.*.local
.DS_Store
.eslintcache
*.tsbuildinfo
emulator-data/
playwright-report/
test-results/
dist-ssr/
firebase.*-sandbox.json
